## Java Compiled/Package Files##
*.class
*.jar
*.war
*.ear
.project

## Eclipse Files ##
.metadata/
.settings/
.externalToolBuilders/
bin/
*.launch
local.properties

## Maven Files ##
target/

## Temp Files##
tmp/
*.bak
*.tmp
*.swp
~$*
[Tt]humbs.db
*.DS_Store

## Subversion files ##
.svn

